---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto" url="contact">
    <h1 class="text-3xl font-bold text-center mt-8">Datos de contacto</h1>
    <div class="border bg-slate-900 rounded-lg m-auto mt-6 lg:w-8/12 px-4">
        <div class="lg:w-8/12 m-auto">
            <section class="mt-6 flex items-center">
                <img src="/public/location.webp" alt="Ubicación" class="w-8 h-8 me-4" />
                <p class="text-lg lg:w-8/12">José Batlle y Ordóñez, Canelones, Departamento de Canelones</p>
            </section>
            <section class="mt-6 flex items-center">
                <!-- <h2 class="text-2xl font-bold mt-8">Teléfono</h2> -->
                <img src="/public/phone.webp" alt="Ubicación" class="w-8 h-8 me-4" />
                <p class="text-lg">099402315</p>
            </section>
            <section class="mt-6 flex items-center">
                <img src="/public/email.webp" alt="Ubicación" class="w-8 h-8 me-4" />
                <p class="text-lg">chufle2121@gmail.com</p>
            </section>
            <section class="flex justify-start mb-3">
                <a href="https://wa.me/59899402315?text=Hola,%20quiero%20consultar%20sobre..." target="_blank">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-8">Ir directo a WhatsApp</button>
                </a>
            </section>
        </div>
    </div>
</Layout>
