---
import TheoreticalCard from "../components/TheoreticalCard.astro";
import Layout from "../layouts/Layout.astro";
import guiaNacional1 from "../assets/guiaNacional1.webp";
import guiaNacional2 from "../assets/guiaNacional2.webp";
---

<Layout title="Material teórico" url="theoretical-material">
    <div class="">
        <h1 class="text-3xl font-bold text-center mt-8">Material teorico</h1>
        <p class="text-center mt-4">Aquí encontrarás todo el material teórico necesario para prepararte para el examen de conducción. Desde normativas de tráfico y señales viales, hasta consejos de seguridad</p>
        <section>
            <h3 class="text-3xl font-bold text-center mt-6 mb-4">Guía nacional de conucción</h3>
            <div class="flex flex-wrap flex-col lg:flex-row justify-evenly items-center">
                <TheoreticalCard img={guiaNacional1} title="Teórico auto y motos" href="https://montevideo.gub.uy/sites/default/files/biblioteca/guianacionaldeconduccion.pdf" />
                <TheoreticalCard img={guiaNacional2} title="Teórico licencia profesional" href="https://montevideo.gub.uy/sites/default/files/biblioteca/manualautosymotos_0.pdf" />
            </div>
            <!--  -->
            <h3 class="text-3xl font-bold text-center mt-6 mb-4">Requisitos para sacar tu licencia profesional</h3>
            <div class="flex flex-wrap flex-col lg:flex-row justify-evenly items-center">
                <TheoreticalCard title="Ley N° 18.191" href="https://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_f41003ded5a94d569d19740b6498e1b2.pdf" />
                <TheoreticalCard title="Ley N° 19.172" href="https://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_f67420cb588b44819fcb8095c85bb680.pdf" />
                <TheoreticalCard title="Ley N° 190.061" href="https://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_3a734de49fc5483c9e35a0a2a73593ff.pdf" />
                <TheoreticalCard title="Señales de tránsito" href="https://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_c2ad50db107749f9b2f4eea4dcc25249.pdf" />
                <TheoreticalCard title="Circulación vial" href="http://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_b82bc87ea0884b12894255d390c056b5.pdf" />
                <TheoreticalCard title="Ley de faltas" href="https://76cbc9e5-db41-4cdd-97e0-0b11e50391a3.filesusr.com/ugd/6c62a1_649ad3be92d848c2aa478a6046897ca2.pdf" />
            </div>
        </section>
    </div>
</Layout>
